<div class="index-body">
  <div class="campaign-search-bar">
    <%= form_tag(campaigns_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "   Search Campaigns", :class => "search box"%>
    <%= submit_tag "Search", :name => nil, :class =>"btn btn-primary" %>
    <% end %>
  </div>
  <% if @campaign_search.present? %>
    <% if params[:search] != nil %>
      <ul>
        <% @campaign_search.each do |result| %>
          <li><%= link_to 'View', result %>
          <span><%= result.name %>, <%=result.city %>, <%=result.created_at.strftime("%m/%d/%Y") %></span></li>
          
        <% end %>
      </ul>
    <% elsif params[:query].present? && @campaign_search.blank? %>
      <p>There are no posts containing the term(s) <%= params[:search] %>.</p> 
    <% end %>
  <% end %>
</div>

<!--
<p class="newCampaign"><%= link_to 'New Campaign', new_campaign_path %></p> -->
