<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @campaign.city %>
</p>

<% @images.each do |image| %>
  
  <div class="image-index">
  	<%= link_to image_tag(image.avatar.url(:medium)), image %>
  </div>
<%#= image_tag @image.image.url %>
<%#= image_tag @image.image.url(:medium) %>
<%#= image_tag @image.image.url(:thumb) %>
<% end %>
<br />
<%= link_to 'Add New Picture', edit_campaign_path(@campaign) %>
<%# link_to 'Edit', edit_campaign_path(@campaign) %> |
<%# link_to 'Back', campaigns_path %>
