<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @campaign.city %>
</p>

<% @images.each do |image| %>
  
  <div class="image-index">
  	<%= link_to image_tag(image.avatar.url(:medium)), image %>
  </div>
<% end %><br />
<%= link_to 'Add New Picture', edit_campaign_path(@campaign) %><br />

<!-- DELETE THIS!! 
<a href="#" data-background-color="#990000">Paint it red</a>
<a href="#" data-background-color="#009900" data-text-color="#FFFFFF">Paint it green</a>
<a href="#" data-background-color="#000099" data-text-color="#FFFFFF">Paint it blue</a>
-->
<!--
<div class="map-container">
	<div id="marker-map" data-latitude="" data-longitude=""></div>
</div>
-->