<%= image_tag("Seattle.jpg", class: "seattle") %>

<div class="brief">
	<br />
	<section class="brief attr">
  		<strong>Name:</strong>
  		<%= @campaign.name %>
  	</section><br /><br />
  	<section class="brief attr">  	
  		<strong>City:</strong>
  		<%= @campaign.city %>
	</section><br />
	<aside class="brief description">
		Mauris pretium felis non diam scelerisque commodo. Donec turpis justo, vulputate a facilisis non, rutrum sed nibh. Proin sagittis ac erat nec dignissim. Suspendisse iaculis lorem arcu, vel rutrum risus hendrerit vitae. Duis lacinia malesuada velit. Nam pretium cursus dolor. Morbi vel tincidunt mi, eu aliquet eros.<br /><br />

		Mauris pretium felis non diam scelerisque commodo. Donec turpis justo, vulputate a facilisis non, rutrum sed nibh. Proin sagittis ac erat nec dignissim. Suspendisse iaculis lorem arcu, vel rutrum risus hendrerit vitae. Duis lacinia malesuada velit. Nam pretium cursus dolor. 
	</aside>
</div>
<% @images.each do |image| %>
  
  <div class="image-index">
  	<%= link_to image_tag(image.avatar.url(:medium)), image %>
  </div>
<% end %><br />
<%= link_to 'Upload New Picture', edit_campaign_path(@campaign), class: "button" %><br />

<!-- DELETE THIS!! 
<a href="#" data-background-color="#990000">Paint it red</a>
<a href="#" data-background-color="#009900" data-text-color="#FFFFFF">Paint it green</a>
<a href="#" data-background-color="#000099" data-text-color="#FFFFFF">Paint it blue</a>
-->
<!--
<div class="map-container">
	<div id="marker-map" data-latitude="" data-longitude=""></div>
</div>
-->