<p id="notice"><%= notice %></p>
<div class="image-show-container">
  <div class="image">  
    <strong>Image Number:</strong>
    <%= @image.id %></p><br />
    <%= link_to image_tag(@image.avatar.url(:large)), @image.avatar.url %>
  </div>
<!--<p>Lat: <%#= @image_properties[:lat] %></p><br />
<p>Lon: <%#= @image_properties[:lon] %></p><br />
-->
  <div class="map-container">
	   <iframe
		    class="map-actual"
    	  width="600"
    	  height="450"
    	  frameborder="0" style="border:0"
    	  src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&q=<%= "#{@image.latitude},#{@image.longitude}" %>">
	   </iframe>
  </div>
</div>




