<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Campaign Stop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
     

</head>
<body>


<!-- Begin Bootstrap nav bar -->
<!--<div class="background">-->

<nav class="navbar transparent navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/campaigns/new">Create New Campaign</a>
    </div> <!-- navbar-header -->  
      
    <div class="nav navbar-nav navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown">Recent Campaigns <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <%= render 'recent_campaigns' %>
          </ul>
        </li>
      </ul>
    </div><!-- collapse navbar-collapse    -->

    <!-- </div> navbar-header -->

    <% if user_signed_in? %>

    <div class="nav navbar-right navbar-link">
       <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-brand navbar-link' %>
    </div>
    
    <% else %>

    <div class="nav navbar-right navbar-link">
      <%=  link_to 'Sign Up', new_user_registration_path, :class => 'navbar-brand navbar-link' %>
    </div>
    <div class="nav navbar-right navbar-link">
      <%= link_to "Login", new_user_session_path, :class => 'navbar-brand navbar-link' %>
    </div><!-- navbar-right -->    
    
    <% end %>
    
  </div><!--  /.container-fluid -->
</nav>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">></script>
    
<!--</div> background -->

<!-- End Bootstrap nav bar -->

<!-- Devise authentication
<%# if notice %>
  <p class="alert alert-success"><%= notice %></p>
<%# end %>

<%# if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<%# end %>
 Devise end -->

<%= yield %>


</body>

</html>

