
<p id="notice"><%= notice %></p>
<div class="headline">
  <div class="circle-image">
    <%= image_tag @profile.image.url(:medium)%>
  </div>

    <h1><%= @alum.first_name + " " + @alum.last_name %></h1>
<!--
<div class="image-properties">
<h1>Image Properties</h1>
<%#= @profile.image.url %>
<%#= image_tag @profile.image.url(:thumb) %>
-->
<p>Lat: </p><%= @this_image_properties[:lat] %>
<p>Lon: </p><%= @this_image_properties[:lon] %>


</div>



<h1>Google Maps Tut</h1>
<div id="map-container">
  <div id="map-canvas"></div>
</div>



<% if user_signed_in? and current_user == @alum  %>
  <%#= link_to 'Edit My Profile', edit_profile_path(@profile) %> 
<% end %>

<%#= link_to 'Back', profiles_path %>
